body{
    margin: 0;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
   
}

.main{
    margin-top: 20px;
 
}

.pic img{
    width: 200px;
    height: 200px;
     border-radius: 25px ;
     border: 3px solid ;
     margin-top: 40px;
     margin-left: 20px;
     margin-right: 20px;

}

.des{
    display: flex;
    width: 600px;
    justify-content: space-around;
    background-color: rgb(112, 224, 144);
    margin-bottom: 20px;
    border-radius: 25px;
    border: 4px solid;
}

.b-1{
    width: 650px;
    background-color: rgb(15, 123, 190);
    border-radius: 25px;
    height: 200px;
    border: 4px solid;
}

.b-2{
    width: 650px;
    border: 4px solid;
    background-color: rgb(199, 14, 184);
    border-radius: 25px;
    height: 200px;
    margin-top:100px;
    
}

.b-3{
    width: 650px;
    border: 4px solid;
    background-color: rgb(223, 213, 19);
    border-radius: 25px;
    height: 200px;
    margin-top: 40px;
    
}

.b-4{
    width: 650px;
    border: 4px solid;
    background-color: rgb(214, 31, 62);
    border-radius: 25px;
    height: 200px;
    margin-top: 40px;
    
}

.pic img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 2s;
    box-shadow: 0px 0px 5px 3px black;
}

.des:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 2s;
    box-shadow: 0px 0px 10px 5px rgb(68, 150, 23);
}

.b-1:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 2s;
    box-shadow: 0px 0px 10px 5px rgb(58, 84, 215);
}

.b-2:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 2s;
    box-shadow: 0px 0px 10px 5px rgb(192, 12, 205);
}

.b-3:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 2s;
    box-shadow: 0px 0px 10px 5px rgb(147, 172, 9);
}

.b-4:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 2s;
    box-shadow: 0px 0px 10px 5px rgb(173, 62, 15);
}

@media (max-width:685.333px) {
    .des{
        display: flex;
        flex-wrap: wrap;
        width: auto;
        min-height: auto;

    }
    
}

@media (max-width:500px) {
    .b-1{
        width: auto;
        min-height: auto;

    }
    
}

@media (max-width:500px) {
    .b-2{
        width: auto;
        min-height: auto;

    }
    
}

@media (max-width:500px) {
    .b-3{
        width: auto;
        min-height: auto;

    }
    
}
@media (max-width:500px) {
    .b-4{
        width: auto;
        min-height: auto;

    }
    
}





